@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  max-height: 700px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  color: rgb(93, 93, 201);
  font-family: "Bebas Neue", cursive;
}

h2 {
  font-size: 30px;
}
.container {
  border: 1px solid grey;
  margin: 20px 40px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 0;
  background: linear-gradient(to right, #d6a4a4, #dae2f8);
  max-width: 700px;
}

footer {
  margin-left: 30px;
}