#search-form.mb-3 {
  margin-bottom: 0;
}

#current {
  list-style: none;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: 0;
}

#temperature {
  font-size: 70px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.col-6 {
  padding-left: 20px;
  padding-right: 30px;
}

canvas {
  padding-left: 50px;
  padding-right: 0;
  bottom: 50px;
}
img {
  margin-top: 0px;
  font-size: 40px;
  padding-bottom: 0px;
  padding-left: 40px;
  width: 200px;
  height: 175px;
}

#listWH {
  padding-top: 0;
  list-style: none;
  font-size: 20px;
}

#cel {
  position: relative;
  top: -28px;
}
#fer {
  position: relative;
  top: -28px;
}
#line {
  margin-left: 5px;
  position: relative;
  top: -28px;
}

h1 {
  font-size: 80px;
  color: rgb(93, 93, 201);
  font-family: "Bebas Neue", cursive;
  margin-left: 15px;
}

h2 {
  font-size: 30px;
  margin-left: 15px;
}